// Colors
$unm-cherry: #ba0c2f !default;
$inverted-text-color: #fff !default;
$matlab-comment-color: #228B22 !default;
$code-background-color: #f5f5f5 !default;

li.doc-list {
  display: inline-block;
  padding-right: 10px;
}

ul.doc-list {
  list-style-type: none;
}

.highlighter-rouge .highlight {
  background: $code-background-color;
}

pre, code {
  background: $code-background-color;
}

.highlight .c1 {
  color: $matlab-comment-color;
}

.highlight .n, .o, .nb {
  color: $text-color;
}

pre {
  border: 0px;
}

.to-top-button {
  position: fixed;
  right: 50px;
  bottom: 50px;

  img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
}

.doc-page-nav {
  ul {
    list-style-type: none;
  }
}

.wrapper-with-left-sidebar {
  width: calc(#{$content-width} + 0px);
  margin: 0px auto;
  position: relative;

  > .left-sidebar {
    float: left;
    position: absolute;
    left: -250px;
    top: 75px;
    width: 225px;
  }

  > .content {
    width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
  }
}

.important-note{
   padding: 15px;
   background-color: #fcf8e3;
   border-color: #faebcc;
   margin-top: 10px;
   margin-bottom: 15px;
   border-radius: 5px;
}

.desc-figure{
  text-align: center;
}

.post-list {
  > li {
    margin-bottom: 0px;

    > p {
      margin-bottom: 0px;
    }
  }
}

.post-link {
    display: inline-block;
    @include relative-font-size(1);
}

.site-header {
  border-top: 0px;
  border-bottom: 0px;
  min-height: $spacing-unit * 1.865;
  background: $unm-cherry;
  color: $inverted-text-color;

}

.site-title {
  font-weight: 500;

  &,
  &:visited {
    color: $inverted-text-color;
  }
}

.site-nav {
  .page-link {
    color: $inverted-text-color;
    font-weight: 500;
  }

  @include media-query($on-palm) {
    background-color: $unm-cherry;
    border: 1px solid $unm-cherry;

    .menu-icon {
      > svg {
        > path {
          fill: $inverted-text-color;
        }
      }
    }
  }
}