// Colors
$unm-cherry: #ba0c2f !default;
$inverted-text-color: #fff !default;

.formspree-contact {
  text-align: center;

  > input {
    display: block;
    margin: 0px auto;
    margin-bottom: 5px;
    width: 80%;
  }

  > textarea {
    display: block;
    margin: 0px auto;
    width: 80%;
    max-width: 80%;
    min-width: 80%;
    min-height: 100px;
  }

  @include media-query($on-palm) {
    > input {
      width: 90%;
    }

  > textarea {
      width: 90%;
      max-width: 90%;
      min-width: 90%;
    }
  }
}

.post-link {
    display: inline-block;
    @include relative-font-size(1);
}

.site-header {
  border-top: 0px;
  border-bottom: 0px;
  min-height: $spacing-unit * 1.865;
  background: $unm-cherry;
  color: $inverted-text-color;

}

.site-title {
  font-weight: 500;

  &,
  &:visited {
    color: $inverted-text-color;
  }
}

.site-nav {
  .page-link {
    color: $inverted-text-color;
    font-weight: 500;
  }

  @include media-query($on-palm) {
    background-color: $unm-cherry;
    border: 1px solid $unm-cherry;

    .menu-icon {
      > svg {
        fill: $inverted-text-color;
      }
    }
  }
}